:root{
    --primario: #006D4E;
    --primario-green: #4ED176;
    --secundario-blue: #079DEF;
    --secundario-305C: #52DEFF;
    --secundario-164c: #FF7150;
    --btn: #ced4da;
    --font-family-circular: 'CircularXX-Regular';
    --font-family-circular-light: 'CircularXX-Light';
    --font-family-circular-Thin: 'CircularXX-Thin';
    --font-family-circular-Bold: 'CircularXX-Bold';
}
/*------Font-------*/
@font-face {
    font-family: 'CircularXX-Regular';
    src: url('/fonts/CircularXX-Regular.otf') format('opentype'),
        url('/fonts/CircularXX-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Light';
    src: url('/fonts/CircularXX-Light.otf') format('opentype'),
        url('/fonts/CircularXX-Light.otf') format('opentype');
    font-weight: normal;
    font-style: light;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Thin';
    src: url('/fonts/CircularXX-Thin.otf') format('opentype'),
        url('/fonts/CircularXX-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: Thin;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Bold';
    src: url('/fonts/CircularXX-Bold.otf') format('opentype'),
        url('/fonts/CircularXX-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: Bold;
    font-display: swap;
}


/*----------Style-------------*/
body{
    font-weight: 500;
    color: var(--primario);
}
.margen-l{
    padding: 0px 16px !important;
}
h1{
    font-size: 28px !important;
    margin-bottom: 24px !important;
    text-align: center;
    color: var(--primario-green);
    font-family: var(--font-family-circular-Bold) !important;
}
h2{
    text-align: center;
    color: var(--primario-green);
    font-size: 16px !important;
}
h3{
    color: var(--primario-green);
    text-align: start;
    font-family: var(--font-family-circular);
    font-size: 18px !important;
    font-weight: 500 !important;
}
h4{
    color: var(--primario-green);
    font-family: var(--font-family-circular);
    text-align: center;
    font-size: 16px !important;
}
p{
    font-family: var(--font-family-circular-light);
}
a{
    text-decoration: none !important;
}
/*---Deatlle caso-*/
.txt-ligth{
    color: var(--primario);
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    margin-bottom: 8px;
}
.txt-thin{
    font-family: var(--font-family-circular-Thin);
    color: var(--primario);
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    margin-bottom: 4px;
}
.txt-bold{
    font-family: var(--font-family-circular-Bold);
    font-size: 14px;
    font-weight: 200;
}
.cliente{
    text-align: center;
    font-family: var(--font-family-circular-light);
}
.contacto{
    text-align: center;
}
.contacto-ico{
    width: 54px;
}
.ico{
    width: 24px;
}
.rotate{
    transform: rotate(-180deg);
}
/*--Margenes--*/
.mg-top{
    margin-top: 24px !important;
}
.margen{
    margin: 24px 0px;
    align-items: center;
}
.sp-24{
    padding-bottom: 24px;
}
.sp-16{
    padding-bottom: 16px;
}
.mrg-menu{
    margin-top: 415px !important;
}
.margenes{
    padding: 0 16px !important;
}
/*--Fin Margenes--*/
/*----Botones-----*/
.boton-v{
    background-color: var(--primario-green) !important;
    border-color: var(--primario-green) !important;
    height: 56px;
}
.btn-bg-white{
    color: var(--primario) !important;
    border-color: var(--primario-green) !important;
    background-color: white !important;
    height: 56px;
    font-family:var(--font-family-circular-Thin);
}
.btn-white{
    color: var(--primario-green) !important;
    border-color: var(--primario-green) !important;
    background-color: white !important;
    height: 56px;
}
.btn-line-green{
    color: var(--primario-green) !important;
    border-color: var(--primario) !important;
    font-family: var(--font-family-circular);
    background-color: white !important;
    height: 40px;
    margin: auto;
    width: 250px;
    text-align: center;
    margin-top: 55px;
}
.btn-gray{
    color: #829494 !important;
    border-color: #829494 !important;
    background-color: white !important;
    text-align: start !important;
    font-family: var(--font-family-circular-Thin);
}
.btn-cerrar{
    width: 300px;
    margin: auto;
    background-color: #8FB6A7 !important;
    color: white !important;
    border-color: white !important;
}
.rst{
    all: unset !important;
}
.form-control{
    font-family: var(--font-family-circular-light) !important;
    color: var(--btn) !important;
    height: 56px;
}
.form-select{
    height: 56px !important;
    color: var(--btn) !important;
    font-family: var(--font-family-circular-light);
}
.form-label{
    color: var(--primario) !important;
    font-family: var(--font-family-circular-light);
}
.form-check-label{
    font-family: var(--font-family-circular-light);
}
/*----Fin Botones-----*/
.logo-img{
    width: 50%;
    /*-margin: 24px;-*/
    text-align: center;
}
.perfil-img{
    width: 70%;
}
.col-8{
    text-align: center;
}
.font-style{
    font-family: var(--font-family-circular-light) !important;
}
label, .form-text{
    color: var(--primario) !important;
}
.iniciar{
    text-decoration: none !important;
    color: white !important;
    font-family: var(--font-family-circular-light);
}

.btn-exportar{
    background-color: white !important;
    color: black !important;
    border-color: #ced4da !important;
    font-family: var(--font-family-circular-Thin);
    font-size: 12px !important;
}
.nombre{
    font-size: 16px !important;
    color: var(--primario);
    text-align: start;
    font-weight: 300 !important;
    font-family: var(--font-family-circular-Thin);
}
.fecha{
    color: var(--btn);
    font-weight: 200 !important;
    font-size: 14px;
    text-align: start;
    margin-bottom: 0px;
    font-family: var(--font-family-circular-Thin);
}

/*----Credito------*/
.mensualidad-txt{
    color: var(--primario);
    font-size: 9px !important;
    font-family: var(--font-family-circular-Bold);
}
.card-credito{
    background-color: #EDFBF2;
    color: #006D4E;
    height: 100px;
    align-items: center;
    margin-bottom: 18px;
}
tr{
    border-style: hidden !important;
    margin: 0px;
    padding: 0px;
}
th{
    font-family: var(--font-family-circular-Thin);
}

tr > td{
    padding: 2px !important;
}
tr > th{
    padding: 2px !important;
}

.breadc{
    text-decoration: underline;
    color: var(--primario);
}
.breadc-a{
    text-decoration: underline;
    color: var(--primario-green);
}