:root{
    --primario: #006D4E;
    --primario-green: #4ED176;
    --secundario-blue: #079DEF;
    --secundario-305C: #52DEFF;
    --secundario-164c: #FF7150;
    --btn: #6c757d;
    --font-family-circular-Book: 'CircularXX-Book';
    --font-family-circular: 'CircularXX-Regular';
    --font-family-circular-Thin: 'CircularXX-Thin';
}
/*------Font-------*/
@font-face {
    font-family: 'CircularXX-Book';
    src: url('/fonts/CircularXX-Book.otf') format('opentype'),
        url('/fonts/CircularXX-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Regular';
    src: url('/fonts/CircularXX-Regular.otf') format('opentype'),
        url('/fonts/CircularXX-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Thin';
    src: url('/fonts/CircularXX-Thin.otf') format('opentype'),
        url('/fonts/CircularXX-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: Thin;
    font-display: swap;
}

/*----------Style-------------*/
body{
    color: var(--primario);
    font-family: var(--font-family-circular-Book) !important;
}
.margen-l{
    padding: 0px 16px !important;
}
h1{
    font-size: 20px !important;
    margin-bottom: 24px !important;
    text-align: center;
    color: var(--primario-green);
    font-family: var(--font-family-circular-Book);
}
h2{
    text-align: center;
    color: var(--primario-green);
    font-size: 16px !important;
}
h3{
    color: var(--primario-green);
    text-align: start;
    font-family: var(--font-family-circular-Book);
    font-size: 20px !important;
    font-weight: 500 !important;
}
h4{
    color: var(--primario-green);
    font-family: var(--font-family-circular-Book);
    text-align: center;
    font-size: 16px !important;
}
.texto-14{
    font-size: 14px !important;
    color: var(--primario) !important;
    font-family: var(--font-family-circular-Book) !important;
}
p{
    font-family: var(--font-family-circular-Book);
}
a{
    text-decoration: none !important;
}
a:hover{
    color: white !important;
}
.legal{
    font-family: var(--font-family-circular-Book);
    color: var(--primario);
    font-size: 10px;
}
.login-st{
    background-color: #006D4E;
    color: white !important;
}
.text-white{
    color: white;
}
.text-green{
    color: var(--primario);
}
.form-white{
    background-color: var(--primario);
    border: 1px solid var(--primario);
}
.btn-bg-green {
    border-color: white !important;
    background-color: var(--primario) !important;
    height: 56px;
    font-family: var(--font-family-circular-Book);}

/*---Deatlle caso-*/
.txt-ligth{
    color: var(--primario);
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    margin-bottom: 8px;
}
.txt-thin{
    font-family: var(--font-family-circular-Book);
    color: var(--primario);
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    margin-bottom: 4px;
}
.txt-bold{
    font-family: var(--font-family-circular-Book);
    font-size: 14px;
    font-weight: 200;
}
.cliente{
    text-align: center;
    font-family: var(--font-family-circular-Book);
    color: var(--primario-green);
    font-size: 20px !important;
    font-weight: 500 !important;
}
.contacto{
    text-align: center;
}
.contacto-ico{
    width: 54px;
}
.ico{
    width: 24px;
}
.ico-right{
    transform: scaleX(-1);
    width: 24px;
}
.rotate{
    transform: rotate(-180deg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/img/btn-desplegado.png) !important;
    transform: rotate(-180deg);
}
.accordion-button::after{
    background-image: url(/img/btn-desplegado.png) !important;
}
.txt-fav{
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    margin-bottom: 0px;
}
.card{
    background-color: #FAFDFD !important;
}
/*--Margenes--*/
.mg-top{
    margin-top: 24px !important;
}
.margen{
    margin: 24px 0px;
    align-items: center;
}
.sp-24{
    padding-bottom: 24px;
}
.sp-16{
    padding-bottom: 16px;
}
.mrg-menu{
    margin-top: 385px !important;
}
.margenes{
    padding: 0 16px !important;
}
.pd-0{
    padding: 0px !important;
}
.txt-align-s{
    text-align: start !important;
}
.form-select-sm {
    font-size: .800rem !important;
}
/*--Fin Margenes--*/
/*----Botones-----*/
.boton-v{
    background-color: var(--secundario-blue) !important;
    border-color: var(--secundario-blue) !important;
    height: 56px;
}
.btn-bg-white{
    color: var(--primario) !important;
    border-color: var(--primario-green) !important;
    background-color: white !important;
    height: 56px;
    font-family:var(--font-family-circular-Book);
}
.btn-white{
    color: white !important;
    font-family: var(--font-family-circular-Book);
    position: fixed;
    width: 200px;
    border-color: var(--secundario-305C) !important;
    background-color: var(--secundario-305C) !important;
    height: 56px;
}
.btn-line-green{
    color: var(--secundario-blue) !important;
    border-color: var(--secundario-blue) !important;
    font-family: var(--font-family-circular-Book);
    background-color: white !important;
    height: 40px;
    margin: auto;
    width: 250px;
    margin-top: 55px;
    margin-bottom: 18px;
}
.btn-gray{
    color: #829494 !important;
    border-color: #829494 !important;
    background-color: white !important;
    text-align: start !important;
    font-family: var(--font-family-circular-Book);
}
.btn-cerrar{
    width: 300px;
    margin: auto;
    background-color: var(--primario) !important;
    color: white !important;
    border-color: white !important;
}
.rst{
    all: unset !important;
}
.btn-enviar{
    background-color: white;
    color: #006D4E;
    border: 1px solid #4ED176 !important;
    height: 30px;
    width: 100px;
    margin-bottom: 22px;
}
.form-control{
    font-family: var(--font-family-circular-Book) !important;
    color: var(--btn) !important;
    height: 44px !important;
}
.floatingInput{
    padding: 8px !important;
}
.form-select{
    height: 44px !important;
    color: var(--btn) !important;
    font-family: var(--font-family-circular-Book);
}
.form-label{
    color: var(--primario) !important;
    font-family: var(--font-family-circular-Book);
}
.form-check-label{
    font-family: var(--font-family-circular-Book);
}
.form-calendar{    
    width: 50px !important;
    position: relative;
    top: -420px;
    left: 260px;
}
input{
    color: #079DEF;
}    
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

/*----Fin Botones-----*/
.logo-img{
    width: 50%;
    /*-margin: 24px;-*/
    text-align: center;
}
.perfil-img{
    width: 70%;
}
.col-8{
    text-align: center;
}
.font-style{
    font-family: var(--font-family-circular-Book) !important;
}
label, .form-text{
    color: var(--primario) !important;
}
.iniciar{
    text-decoration: none !important;
    color: white !important;
    font-family: var(--font-family-circular-Book);
}

.btn-exportar{
    background-color: white !important;
    color: black !important;
    border-color: #ced4da !important;
    font-family: var(--font-family-circular-Book);
    font-size: 12px !important;
}
.nombre{
    font-size: 16px !important;
    color: var(--primario);
    margin-bottom: 2px;
    text-align: start;
    font-weight: 300 !important;
    font-family: var(--font-family-circular-Book);
}
.fecha{
    color: var(--btn);
    font-weight: 200 !important;
    font-size: 14px;
    text-align: start;
    margin-bottom: 0px;
    font-family: var(--font-family-circular-Book);
}
/*----Modal credito----*/
.modal-content{
    margin-top: 50px;
    color: white;
    border: none !important;
}
.modal{
    background-color: #83DF9F;
}
/*-----ver-mas---*/
.accordion-item{
    border: none !important;
    color: var(--btn);
    margin: 0px;
    padding: 0px;
}
.accordion-body{
    padding: 0px !important;
    background-color: #FAFDFD;
}
.bg-acordion{
background-color: #FAFDFD;
}
/*----Credito------*/
.mensualidad-txt{
    color: var(--primario);
    font-size: 14px !important;
    font-family: var(--font-family-circular-Book);
    text-align: start;
    margin-bottom: 8px;
}
.accordion-button:not(.collapsed){
    color: var(--primario) !important;
    background-color: white !important;
}
.card-credito{
    /*--background-color: #EDFBF2;--*/
    color: var(--primario);
    border: 0.5px solid #52deff;
    height: 130px;
    align-items: center;
    margin-bottom: 18px;
}
tr{
    border-style: hidden !important;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family-circular-Book);
    font-size: 14px;
}
th{
    font-family: var(--font-family-circular-Book);
}

tr > td{
    padding: 2px !important;
}
tr > th{
    padding: 2px !important;
}
.breadcrumb-item.active{
    font-family: var(--font-family-circular-Book);
}
.breadc{
    text-decoration: underline !important;
    font-size: 18px;
    color: var(--primario);
    font-family: var(--font-family-circular-Book);
}
.breadc-a{
    text-decoration: underline !important;
    color: var(--primario-green);
    font-family: var(--font-family-circular-Book);
}
/*----Select---*/
.form-label{
color: #006D4E;
}
.select-btn{
display: flex;
height: 44px;
align-items: center;
justify-content: space-between;
padding: 0 16px;
border-radius: 4px;
border: 1px solid #ced4da;
cursor: pointer;
background-color: #fff;
}
.select-btn .btn-text{
font-size: 16px;
font-weight: 400;
color: #6c757d;
}
.select-btn .arrow-dwn{
display: flex;
height: 21px;
width: 21px;
color: #6c757d;
font-size: 14px;
border-radius: 50%;
background: white;
align-items: center;
justify-content: center;
transition: 0.3s;
}
.select-btn.open .arrow-dwn{
transform: rotate(-180deg);
}
.list-items{
position: relative;
margin-top: 15px;
border-radius: 8px;
padding: 16px;
background-color: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
display: none;
}
.select-btn.open ~ .list-items{
display: block;
}
.list-items .item{
display: flex;
align-items: center;
list-style: none;
height: 50px;
cursor: pointer;
transition: 0.3s;
padding: 0 15px;
border-radius: 8px;
}
.list-items .item:hover{
background-color: #006D4E;
}
.item-text:hover{
color: white !important;
}
.item .item-text{
font-size: 16px;
font-weight: 400;
color: #000;
}
.item .checkbox{
display: flex;
align-items: center;
justify-content: center;
height: 16px;
width: 16px;
border-radius: 4px;
margin-right: 12px;
border: 1.5px solid #c0c0c0;
transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
background-color: #4ED176;
border-color: #4ED176;
}
.checkbox .check-icon{
color: #fff;
font-size: 11px;
transform: scale(0);
transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
transform: scale(1);
}
.fa-mg{
    margin-left: 10px;
}
.fa-mg:active{
    margin-left: 0px;
}


/*----Select Bancos---*/
.form-label{
    color: #006D4E;
    }
    .select-btn-banco{
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    cursor: pointer;
    background-color: #fff;
    }
    .select-btn-banco .btn-textB{
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
    }
    .select-btn-banco .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #6c757d;
    font-size: 14px;
    border-radius: 50%;
    background: white;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    }
    .select-btn-banco.open .arrow-dwn{
    transform: rotate(-180deg);
    }
    .list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    }
    .select-btn-banco.open ~ .list-items{
    display: block;
    }
    .list-items .bancos{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
    }
    .list-items .bancos:hover{
    background-color: #006D4E;
    }
    .bancos-text:hover{
    color: white !important;
    }
    .bancos .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    }
    .bancos .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
    }
    .bancos.checked .checkbox{
    background-color: #4ED176;
    border-color: #4ED176;
    }
    .checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    }
    .bancos.checked .check-icon{
    transform: scale(1);
    }
    .fa-mg{
        margin-left: 10px;
    }
    .fa-mg:active{
        margin-left: 0px;
    }